/*fbfbfc*/
.psono-pw-drop {
  max-width: 100%;
  max-height: 100%;
  padding-top: 12px;
  position: absolute;
  display: block;
  z-index: 2147483647 !important; }
  .psono-pw-drop, .psono-pw-drop:after, .psono-pw-drop:before,
  .psono-pw-drop *,
  .psono-pw-drop *:after,
  .psono-pw-drop *:before {
    box-sizing: border-box; }
  .psono-pw-drop .psono-pw-drop-content {
    position: relative;
    background: #FFF;
    padding: 2px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .psono-pw-drop .psono-pw-drop-content a {
      color: #b1b6c1; }
    .psono-pw-drop .psono-pw-drop-content .psono-pw-drop-content-inner {
      position: relative;
      background-color: #151f2b;
      border: 1px solid #cdd2df;
      border-radius: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      color: #b1b6c1;
      padding: 6px; }
    .psono-pw-drop .psono-pw-drop-content .psono-pw-drop-content-inner:after,
    .psono-pw-drop .psono-pw-drop-content .psono-pw-drop-content-inner:before {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .psono-pw-drop .psono-pw-drop-content .psono-pw-drop-content-inner:after {
      border-color: #151f2b;
      border-color: rgba(21, 31, 43, 0);
      border-bottom-color: #151f2b;
      border-width: 10px;
      margin-left: -10px; }
    .psono-pw-drop .psono-pw-drop-content .psono-pw-drop-content-inner:before {
      border-color: #bababa;
      border-color: rgba(186, 186, 186, 0);
      border-bottom-color: #fff;
      border-width: 13px;
      border-radius: 2px;
      margin-left: -13px; }
  .psono-pw-drop .navigations {
    padding: 0;
    margin: 0; }
    .psono-pw-drop .navigations li {
      list-style-type: none;
      margin-top: 1px;
      border-radius: 4px; }
    .psono-pw-drop .navigations li div {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      width: 100%; }
    .psono-pw-drop .navigations li:hover {
      background-color: #fff;
      color: #151f2b; }
    .psono-pw-drop .navigations li:hover div {
      color: #151f2b; }
    .psono-pw-drop .navigations li.active {
      background-color: #2dbb93; }
    .psono-pw-drop .navigations li.active div {
      color: #fff; }
