<form name="editEntryForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'EDIT' | translate}} {{bp.selected.name | translate}}</h3>
    </div>
    <div class="modal-body">
        <!--
        <ui-select ng-model="bp.selected" class="form-group" on-select="reset()">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="blueprint in (bp.all | filter: $select.search) track by blueprint.id">
                <span ng-bind="blueprint.name"></span>
            </ui-select-choices>
        </ui-select>
        -->

        <!-- before tabs (default) -->
        <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
             ng-if="!n.tab && (!n.position || n.position == 'before')">

            <div ng-if="n.type == 'totp_code'" style="position: relative; margin-bottom: 10px; height:200px; width:200px; margin-left: auto; margin-right: auto;">
                <canvas id="doughnut_totp_code" class="chart chart-doughnut"
                        chart-colors="otherData.totp_colors"
                        chart-options="otherData.totp_options"
                        chart-data="otherData.totp_percentage">
                </canvas>
                <div style="position: absolute; top:50%; left:50%;  transform: translate(-50%, -50%);text-align: center; font-size: 20px;">{{ otherData.totp_token }}</div>
            </div>


            <!-- A key value list -->
            <div ng-if="n.field == 'key_value_list'">
                <div class="row form-group" ng-repeat="kv in n.value track by $index">
                    <div class="col-xs-5">
                        <input type="text" class="form-control" placeholder="{{'KEY' | translate}}"
                               ng-model="kv.key">
                    </div>

                    <div class="col-xs-5">
                        <input type="text" class="form-control" placeholder="{{'VALUE' | translate}}"
                               ng-model="kv.value">
                    </div>

                    <div class="col-xs-2">
                        <button type="button" class="btn btn-default btn-sm" ng-click="bp.selected[n.onDelete](n, $index)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default btn-sm" ng-click="bp.selected[n.onAdd](n)">
                            <i class="fa fa-plus" aria-hidden="true"></i> {{'ADD_ENTRY' | translate}}
                        </button>
                    </div>
                </div>
            </div>

            <input ng-if="n.field == 'input' && !n.dropmenuItems && n.type !== 'totp_code'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                   id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                   ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly" ng-attr-autocomplete="{{n.autocomplete}}"
                   ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title | translate }}</span>

            <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate }}</button>

            <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems && n.type !== 'totp_code'">
                <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly" ng-attr-autocomplete="{{n.autocomplete}}"
                       ng-change="bp.selected[n.onChange](bp.selected.fields)">
                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{'ACTIONS' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                        <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                            <a href="" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                <span complexify="n.value"></span>%
                <span complexify="n.value" type="verbal"></span>
            </uib-progressbar>


            <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                      ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                      placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                      ng-model="n.value" ng-hide="n.hidden || n.hidden" ng-readonly="n.readonly"></textarea>

        </div>

        <!-- tabs -->
        <uib-tabset ng-if="bp.selected.tabs" class="tabset_expand">
            <uib-tab ng-repeat="tab in bp.selected.tabs" heading="{{tab.title | translate }}" active="tab.active" disable="tab.disabled">

                <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                     ng-if="n.tab == tab.id">

                    <!-- A key value list -->
                    <div ng-if="n.field == 'key_value_list'">
                        <div class="row form-group" ng-repeat="kv in n.value track by $index">
                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder="{{'KEY' | translate}}"
                                       ng-model="kv.key">
                            </div>

                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder="{{'VALUE' | translate}}"
                                       ng-model="kv.value">
                            </div>

                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-sm" ng-click="bp.selected[n.onDelete](n, $index)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-default btn-sm" ng-click="bp.selected[n.onAdd](n)">
                                    <i class="fa fa-plus" aria-hidden="true"></i> {{'ADD_ENTRY' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>

                    <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                           id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                           ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly" ng-attr-autocomplete="{{n.autocomplete}}"
                           ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title| translate}}</span>

                    <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate}}</button>

                    <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                        <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                               id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                               ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly" ng-attr-autocomplete="{{n.autocomplete}}"
                               ng-change="bp.selected[n.onChange](bp.selected.fields)">
                        <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                {{'ACTIONS' | translate}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                                    <a href="" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                        <span complexify="n.value"></span>%
                        <span complexify="n.value" type="verbal"></span>
                    </uib-progressbar>

                    <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                              ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                              placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                              ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"></textarea>


                </div>
            </uib-tab>
        </uib-tabset>

        <!-- below tabs -->
        <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
             ng-if="!n.tab && n.position == 'after'">

            <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                   id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                   ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly" ng-attr-autocomplete="{{n.autocomplete}}"
                   ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title| translate}}</span>

            <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate}}</button>

            <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly" ng-attr-autocomplete="{{n.autocomplete}}"
                       ng-change="bp.selected[n.onChange](bp.selected.fields)">
                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{'ACTIONS' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                        <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                            <a href="#" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                <span complexify="n.value"></span>%
                <span complexify="n.value" type="verbal"></span>
            </uib-progressbar>

            <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                      ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                      placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                      ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"></textarea>

        </div>

        <!-- Advanced -->
        <div class="text-right">
            <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="!hide_advanced">{{'ADVANCED' | translate}}</a>
            <a href="" ng-click="show_history(node)" ng-if="!offline" ng-show="!hide_history && !bp.selected.hide_history">{{'SHOW_HISTORY' | translate}}</a>
        </div>


        <div uib-collapse="isCollapsed">

            <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                 ng-if="!n.tab && n.position == 'advanced'">

                <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly" ng-attr-autocomplete="{{n.autocomplete}}"
                       ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title| translate}}</span>

                <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate}}</button>

                <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                    <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                           id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" min="{{n.min}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                           ng-model="n.value" ng-hide="n.hidden || n.hidden_edit"
                           ng-change="bp.selected[n.onChange](bp.selected.fields)">
                    <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            {{'ACTIONS' | translate}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                            <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                                <a href="#" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                    <span complexify="n.value"></span>%
                    <span complexify="n.value" type="verbal"></span>
                </uib-progressbar>

                <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                      ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                      placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                          ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"></textarea>

            </div>
            <div class="form-group" ng-if="!bp.selected.hide_callback">
                <input type="text" name="callback_url" class="form-control"
                       id="editEntryForm-callback_url" placeholder="{{ 'CALLBACK_URL_PLACEHOLDER' | translate}}"
                       ng-model="data.callback_url">
            </div>
            <div class="form-group" ng-if="!bp.selected.hide_callback">
                <input type="text" name="callback_user" class="form-control"
                       id="editEntryForm-callback_user" placeholder="{{ 'CALLBACK_USER' | translate}}"
                       ng-model="data.callback_user">
            </div>
            <div class="form-group" ng-if="!bp.selected.hide_callback">
                <div class="input-group">
                    <input type="password" autocomplete="new-password" class="form-control" id="callback_pass" placeholder="{{ 'CALLBACK_PASS' | translate}}"  ng-model="data.callback_pass">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="toggle_input_type('callback_pass')">
                            <i class="fa fa-eye-slash"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                {{'ENTRY_LINK' | translate}}: <a ng-if="node.file_id" href="{{ 'index.html#!/datastore/search/' + node.file_id }}">{{ node.file_id }}</a><a ng-if="node.secret_id" href="{{ 'index.html#!/datastore/search/' + node.secret_id }}">{{ node.secret_id }}</a>
            </div>
            <!--
            <div class="form-group">
                <input type="text" name="secret_id" class="form-control"
                       id="editEntryForm-secret_id" placeholder="{{ 'SECRET_ID' | translate}}"
                       ng-model="node.secret_id" readonly="readonly">
            </div>
            -->

        </div>

        <div class="alert alert-danger" ng-repeat="e in errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>

        <div class="form-group alert alert-info" ng-repeat="e in msgs">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>

    </div>
    <div class="modal-footer">
        <button ng-if="node.share_rights.write != false" class="btn btn-primary" type="button" ng-click="submitted=true; save();">{{'SAVE' | translate}}</button>
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
    </div>
</form>